img.listImg{
    width: 100%;
    padding: 10px;
    height: 150px;
    border-radius: 15px;
}
img.listImg:hover{
    cursor: pointer;
}
.listTitle{
    text-align: center;
}
.recipe-preview{
    margin: 40px;
}
.recipe-preview .recipe-preview{
    text-align: center;
}
.recipe-preview .recipe-preview img{
    border-radius: 15px;
}
.recipe-preview .recipe-preview .recipe-name{
    margin: 5px;
}
.ingredient-list{
    padding: 10px;
}
.ingredient-list:hover{
    background:rgb(229, 231, 226);
}
.ing-name{
    font-weight: 600;
    color: #4a4a4a;
}
.direction-text {
    margin-left: 40px;
    margin-bottom: 10px;
}
.direction-list{
    padding: 10px;
}
.direction-list:hover{
    background:rgb(229, 231, 226);
}

.recipeList, .recipePreview{
    max-height: 630px;
    overflow: auto;
}